@import '../../shared/shared';

.navbar {
  background-color: rgba(#000, 0.3);
  border: none;
  border-radius: 0;

  > .container {
    position: relative;
  }

  .navbar-brand {
    color: #FFF;
    font-family: $headings-font-family;
    cursor: default;
    &:hover {
      color: #FFF;
    }
  }

  button.navbar-toggle {
    border-radius: 0;
    border: none;
    color: #FFF;
    font-size: 30px;
    line-height: 50px;
    margin: 0;
    padding: 0 15px;
    position: absolute;
    right: 0;
    top: 0;

    &:hover,
    &:focus {
      background-color: rgba(#000, 0.5);
      color: #FFF;
    }
  }

  .navbar-nav {
    text-align: right;
    > li {
      > a {
        color: rgba(#FFF, 0.9);
        &:hover,
        &:focus {
          color: #FFF;
        }
      }
    }
  }
}

#city-selector {
  .panel-heading {
    font-size: 23px;
  }
  .form-group,
  .favorite-button {
    vertical-align: top;
  }
  .form-group {
    &:last-child {
      margin-bottom: 0;
    }
  }
  .favorite-button {
    background: transparent none;
    border: none;
    color: $brand-warning;
    font-size: 28px;
    height: 34px;
    line-height: 1;
    outline: none;
  }

  #form-city {
    min-width: 250px;
  }
}

.panel-light {
  background-color: rgba(#FFF, 0.1);

  .panel-heading {
    border-bottom: none;
    color: #FFF;
    font-family: $headings-font-family;
    padding-bottom: 0;
  }
}