<button mat-icon-button
  type="button"
  class="toggler"
  (click)="toggleMenuOpen()"
  *ngIf="favorites.length > 0">
  <mat-icon>menu</mat-icon>
</button>
<div [ngClass]="['menu', menuOpen ? '' : 'closed']" role="navigation" *ngIf="favorites.length > 0">
  <h5>Cidades Favoritas</h5>
  <nav class="favs-nav">
    <ul class="nav">
      <li *ngFor="let item of favorites index as i" class="nav-item">
        <span class="link" (click)="setCity(item.city, item.state)">
          {{ item.city }}, {{ item.state }}
        </span>
        <mat-icon (click)="removeCity(i)" class="remove">remove_circle</mat-icon>
      </li>
    </ul>
  </nav>
</div>
