@import '../../../../shared/variables';

.toggler {
  color: #FFF;
  cursor: pointer;
  outline: none;
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 10000;
}

.menu {
  background-color: rgba(#000, 0.3);
  padding: 0 1rem;
  position: absolute;
  right: 0;
  text-align: right;
  top: 100%;
  transition: all 500ms $cubic-easing 0s;

  h5 {
    margin: 0;
  }
}

.closed {
  opacity: 0;
  visibility: hidden;
}

.nav {
  line-height: 2rem;
}

.remove {
  font-size: 1em;
}

.link, .remove {
  cursor: pointer;
}
