@import '../../../../shared/shared';

.current-weather {
  color: #FFF;
  text-align: center;
  margin-bottom: 20px;

  .date {
    font-size: 20px;
    font-family: $headings-font-family;
  }

  .temp {
    display: inline-block;
    font-family: $headings-font-family;
    font-size: 50px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 15px;
    position: relative;
    left: -35px;

    .min-max {
      transform: translateY(-50%);
      font-size: 20px;
      left: 100%;
      line-height: 1.7;
      padding-left: 15px;
      position: absolute;
      top: 50%;
      white-space: nowrap;
    }
  }
}