@import '../../../../shared/shared';

.navbar {
  background-color: rgba(#000, 0.3);
  border-radius: 0;
  border: none;
  margin-bottom: 20px;
  z-index: 100;
  position: relative;

  > .container {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;
    position: relative;
    width: 100%;

    @include md-min {
      margin: auto;
      max-width: 90%;
    }
  }

  .navbar-title {
    color: #FFF;
    font-family: $headings-font-family;
    margin: 0;
    padding: 0;
    cursor: default;
    &:hover {
      color: #FFF;
    }
  }
}
