<header class="navbar navbar-toggleable-md">
  <div class="container">
    <div class="navbar-header">
      <h1 class="hidden-xs-up">{{ title }}</h1>
      <div class="navbar-brand">{{ title }}</div>
    </div>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse"><i class="fa fa-bars"></i></button>
    <nav class="navbar-collapse collapse" id="navbar-collapse" role="navigation">
      <ul class="navbar-nav nav menu">
        <li class="nav-item"><span class="nav-link" href="#" ng-click="viewFavorite()">Minha Cidade Favorita</span></li>
        <li class="nav-item"><span class="nav-link" href="#" ng-click="setCityState('Blumenau','SC')">Blumenau, SC</span></li>
        <li class="nav-item"><span class="nav-link" href="#" ng-click="setCityState('Campinas','SP')">Campinas, SP</span></li>
      </ul>
    </nav>
  </div>
</header>