@import '../../../../shared/shared';

.navbar {
  background-color: rgba(#000, 0.3);
  border-radius: 0;
  border: none;
  z-index: 100;
  margin-bottom: 20px;

  > .container {
    position: relative;
    @include media-breakpoint-down(xs) {
      width: 100%;
    }
  }

  .navbar-brand {
    color: #FFF;
    font-family: $headings-font-family;
    cursor: default;
    &:hover {
      color: #FFF;
    }
  }

  button.navbar-toggler {
    border-radius: 0;
    border: none;
    color: #FFF;
    font-size: 30px;
    line-height: 40px;
    margin: 0;
    outline: none;
    padding: 0 15px;
    position: absolute;
    right: 0;
    top: 0;

    &:hover,
    &:focus {
      background-color: rgba(#000, 0.5);
      color: #FFF;
    }
  }

  .navbar-nav {
    text-align: right;
    > li {
      > span {
        color: rgba(#FFF, 0.9);
        cursor: pointer;
        &:hover,
        &:focus {
          color: #FFF;
        }
      }
    }
  }

  #navbar-collapse {
    flex-direction: row-reverse;
  }
}
