<div class="weekday" data-animation="false" data-toggle="popover" data-trigger="hover" [attr.data-content]="todo" data-container="body" data-placement="top" role="button" tabindex="{{ index }}">
  <div class="date">
    {{ (day.dt * 1000) | date: 'EEE, dd/MM' }}
  </div>
  <canvas id="icon-day-{{ index }}" class="icon" width="50" height="50"></canvas>
  <div class="min-max">
    <div class="max"><i class="fa fa-caret-up"></i> {{ day.temp.max | number:'1.0-0' }}°C</div>
    <div class="min"><i class="fa fa-caret-down"></i> {{ day.temp.min | number:'1.0-0' }}°C</div>
  </div>
  <div class="summary">
    {{ day.weather[0].description }}
  </div>
</div>
