/* You can add global styles to this file, and also import other style files */
@import 'shared/variables';
@import '../node_modules/bootstrap/scss/bootstrap';

html {
  font-size: $root-font-size;
  height: 100%;
  position: relative;
}

body {
  min-height: 100%;
  overflow-x: hidden;
  position: relative;
}

app-root {
  padding-bottom: 40px;
  display: block;
}

.card.cl2-card {
	background-color: rgba(#FFF, 0.1);
	border: none;
  margin-bottom: 20px;

  .card-title {
    color: #FFF;
    font-size: 14px;
    line-height: 20px;
    padding-top: 10px;
  }
}