@import '../../../../shared/shared';

.card {
  padding-bottom: 0;
}

form {
  align-items: baseline;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 250px;

  @include sm-min {
    flex-direction: row;
  }

  .fields,
  .actions {
    display: flex;
    width: 100%;

    @include sm-min {
      width: auto;
    }
  }

  .actions {
    justify-content: center;
    padding-bottom: 1rem;

    @include sm-min {
      padding-bottom: 0;
    }
  }

  .mat-form-field {
    flex-grow: 1;
    + .mat-form-field {
      margin-left: 1rem;
    }
  }
}

.federative-unit {
  max-width: 4rem;
}

.city {
  min-width: 0;
}

.favorite-button {
  cursor: pointer;
  margin: 0 0.5rem;
}
