@import '../../../../shared/shared';

.card {
  padding-bottom: 0;
}

form {
  align-items: baseline;
  display: flex;
  justify-content: center;
  min-width: 250px;

  > .mat-form-field {
    flex-grow: 1;

    @include xs {
      width: 100%;
    }
  }
}

.federative-unit {
  max-width: 4rem;
}

.favorite-button {
  cursor: pointer;
  margin: 0 0.5rem;
}
